.cardImg{
    width: 200px;
    height: 200px;
} 

/* .search-conatainer{
   border: 2px solid blue;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}  */

  