.img-card{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.title{
    border: 1px solid white;
    font-size: small;
    object-fit: contain;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 16, 16);
}

