.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    background-color: rgb(24, 26, 27);
    height: 30px;
    width: 250px;
    color: white;
    border: 0.5px solid white; /* 1px pour une bordure fine, 'solid' pour le style de la bordure, et 'white' pour la couleur */
  }
  
.btn{
    background-color: rgb(24, 26, 27);
    height: 35px;
    width: 35px;
    color: white;
    cursor: pointer; 
}
.meal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}