body{
    background-color: rgb(36, 26, 15);
    color: white;
}

.categorie-img{
    text-align: center;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.images-categorie{
    width: 200px;
    height: 210px;
    object-fit:contain;
}
h3{
    margin-top: -50px;
}
